<div class="card-number"></div>
<div class="keyboard" id="keyboard">
    <input type="button" value="1" class="btn" id="btn1">
    <input type="button" value="2" class="btn" id="btn2">
    <input type="button" value="3" class="btn" id="btn3"><br/>
    <input type="button" value="4" class="btn" id="btn4">
    <input type="button" value="5" class="btn" id="btn5">
    <input type="button" value="6" class="btn" id="btn6"><br/>
    <input type="button" value="7" class="btn" id="btn7">
    <input type="button" value="8" class="btn" id="btn8">
    <input type="button" value="9" class="btn" id="btn8"><br/>
    <input type="button" value="X" class="btn clearbtn" data-action="clear"  id="btnX" />
    <input type="button" value="0" class="btn"  id="btn0">
    <input type="button" value="&larr;" class="btn correctbtn" data-action="backspace" id="btnBS"><br/>
    <input type="submit" value="OK" class="wide okbtn" id="btnOK">
</div>